<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title th:text="#{reservations.title}"/>
</head>
<body>
<section layout:fragment="content">
    <table class="user-table" th:unless="${events.isEmpty()}">
        <thead>
        <tr>
            <th class="table-text" th:text="#{events.event_title}"/>
            <th class="table-text" th:text="#{events.date}"/>
            <th class="table-text" th:text="#{events.time}"/>
            <th class="table-text" th:text="#{events.reservations.quantity}"/>
            <th class="table-text"></th> <!Details/Manage Button>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${events}">
            <!Title>
            <td th:text="${event.getTitle()}"/>

            <!Date>
            <td th:text="${formatter.formatDate(event.getTime())}"/>

            <!Time>
            <td th:text="${formatter.formatTime(event.getTime())}"/>

            <!Quantity>
            <td th:text="${event.getUserReservation(userAccount).get().getQuantity()}"/>

            <!Details/Manage Button>
            <td>
            <form method="get" th:action="@{calendar/event}">
                <input type="hidden" name="eventId" th:value="${event.getId()}">
                <button type="submit" th:text="#{reservations.details_button}"/>
            </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="reservation-space" th:if="${events.isEmpty()}" th:text="#{reservations.no_reservations}"/>
</section>
</body>
</html>